.form {
	padding: 0 20px;
	min-width: 100%;
}
.Col {
	width: 100%;
}

.formLabel {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex: 0 1 100%;
	padding-right: 40px;
	width: 100%;
}

.forminput {
	padding: 10px;
	border-bottom: #04afa1;
	background: transparent;
	/* box-sizing: border-box !important; */
}
button {
	float: right;
}
textarea {
	min-width: 100%;
}
