.form {
	padding: 10px 10px 35px 10px;
	width: 40%;
	/* background: #037d73; */
}

label {
	display: flex;
	color: #fff;
	justify-content: flex-start;
	flex-direction: column;
	flex: 0 1 100%;
	padding-right: 40px;
	width: 100%;
	margin: 6px 0;
}
.fname {
	width: 48%;
	margin-top: 3px;
	margin-right: 10px;
	height: 30px;
	padding: 5px;
	border: none;
	float: left;
	border-radius: 3px;
}

.lname {
	width: 48%;
	margin-top: 3px;
	height: 30px;
	padding: 5px;
	border: none;
	float: left;
	border-radius: 3px;
}

input {
	width: 100%;
	margin-top: 3px;
	height: 30px;
	padding: 5px;
	border: none;
	border-radius: 3px;
}

textarea {
	width: 100%;
	margin-top: 3px;
	height: 90px;
	padding: 5px;
	border: none;
	border-radius: 3px;
}

h2,
h5 {
	text-align: center;
}

h5 {
	color: red;
}
