.form {
	padding: 10px 10px 35px 10px;
	width: 40%;
	/* background: #037d73; */
}

label {
	display: flex;
	color: #fff;
	justify-content: flex-start;
	flex-direction: column;
	flex: 0 1 100%;
	padding-right: 40px;
	width: 100%;
	margin: 6px 0;
}
.fname {
	width: 48%;
	margin-top: 3px;
	margin-right: 10px;
	height: 30px;
	padding: 5px;
	border: none;
	float: left;
	border-radius: 3px;
}

.lname {
	width: 48%;
	margin-top: 3px;
	height: 30px;
	padding: 5px;
	border: none;
	float: left;
	border-radius: 3px;
}

input {
	width: 100%;
	margin-top: 3px;
	height: 30px;
	padding: 5px;
	border: none;
	border-radius: 3px;
}

textarea {
	width: 100%;
	margin-top: 3px;
	height: 100px;
	padding: 5px;
	border: none;
	border-radius: 3px;
}

h2,
h5 {
	text-align: center;
}

h5 {
	color: red;
}

button {
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 15px 360px;
	cursor: pointer;
	justify-content: right;
	transition: all 0.3s ease-in-out;
}

.Modal {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	z-index: 0;
	width: 400px;
	min-height: 500px;
	max-height: 600px;
	background-color: #05e1cf;
}

.Overlay {
	position: fixed;
	top: 10%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;

	z-index: 99;
	overflow: auto;
	/* margin-top: -90px; */
	transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 480px) {
	.Modal {
		width: 350px;
		justify-content: center;
	}
	.Overlay {
		left: 5;
		justify-content: center;
	}

	button {
		margin-left: 300px;
		justify-content: center;
	}
}

@media screen and (max-width: 780px) {
	.Modal {
		justify-content: center;
		align-items: center;
	}
	.Overlay {
		justify-content: center;
		align-items: center;
	}
}
